body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

section {
    width: 100%;
    height: 100%;
    background-color: radial-gradient(#333, #000);
}

.set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.set div {
    position: absolute;
    display: block;
}

.set div:nth-child(1)
{
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}

.set div:nth-child(2)
{
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}

.set div:nth-child(3)
{
    left: 70%;
    animation: animate 25s linear infinite;
}

.set div:nth-child(4)
{
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}

.set div:nth-child(5)
{
    left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}

.set div:nth-child(6)
{
    left: 0%;
    animation: animate 12s linear infinite;
}

.set div:nth-child(7)
{
    left: 15%;
    animation: animate 14s linear infinite;
}

.set div:nth-child(8)
{
    left: 60%;
    animation: animate 15s linear infinite;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }
    10%
    {
        opacity: 1;
    }
    20%
    {
        transform: translateX(-20px) rotate(45deg);
    }
    40%
    {
        transform: translateX(-20px) rotate(90deg);
    }
    60%
    {
        transform: translateX(20px) rotate(135deg);
    }
    80%
    {
        transform: translateX(-20px) rotate(180deg);
    }
    100%
    {
        top: 110%;
        transform: translateX(-20px) rotate(225deg);
    }
}

.set2 {
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
}

.set3 {
    transform: scale(0.8) rotateX(180deg);
    filter: blur(4px);
}

h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: rgb(224, 16, 16);
    margin: 0;
    padding: 0;
    font-size: 8em;
    font-family: sans-serif;
    z-index: 1;
}

nav a {
    color: rgb(177, 175, 175);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    }
  
  header {
    background-color:  rgb(40, 39, 39);
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    z-index: ;
  }
  
  .logo {
    float: left;
    padding: 20px 0;
    height: 50px;
    width: 50px;
  }
  
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
  z-index: 1;
    position: relative;
    color:  rgb(177, 175, 175);
  }
