:root {
  --walktime: 3s
  }

#locate {
    background-image: url(locate.png);
    width: 100vw;
    height: 100vh;
    background-position: relative;
}

#slide {
  position: absolute;
  opacity: 1.0;
  left: 60px;
  bottom: 475px;
  height: 112px;
  width: 112px;
  background-image: url(m_logo.png);
  background-position-x: 0px;
  background-position-y: calc(-112px * 2);
  background-repeat: no-repeat;
  animation: walk 1.3s steps(8) infinite,
  slide var(--walktime) linear forwards; 
}


@keyframes walk {
  100% {background-position-x: calc(-112px * 8);}
}

@keyframes slide {
  0% {left: 63px; opacity: 1;}
  99.9% {left: 63vw; opacity: 1; }
  100% {left: 63vw; opacity: 1;}
}


nav a {
  color: rgb(177, 175, 175);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  }

header {
  background-color:  rgb(40, 39, 39);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.logo {
  float: left;
  padding: 20px 0;
  height: 50px;
  width: 50px;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;

  position: relative;
  color:  rgb(177, 175, 175);
}
