img {
    width: 1500px;
    height: 900px;
}

body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background: #55d6aa;
}
header : after {
  content: '';
  display: table;
  clear: both;
  
}

.logo {
    float: left;
    padding: 10px 0;
    height: 50px;
    width: 50px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
color: rgb(177, 175, 175);
text-decoration: none;
text-transform: uppercase;
font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 500ms;
}

nav a:hover::before {
width: 100%;
}

#cookie {
width: 1350px;
height: 190px;
background-color: black;
opacity: 0.6;
color: white;
position: absolute;
left: 100px;
top: 640px;

}


#accept {
height: 40px;
width: 60px;
top: 10px;
right: 10px;
background-color: black;
position: absolute;
color: red;
font-family: fantasy;
}



